# 管理后台账号
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password

# 数据库
# 开发环境使用 SQLite
# DATABASE_URL="file:./dev.db"

# 生产环境使用 PostgreSQL（Vercel）
# DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"